<div class="row props">
  <div id="bg" class="prop-h">
  </div>

 <div class="small-12 text-center click-measure h">
    <div class="click-arr">
    <i class="fa fa-arrow-circle-up"></i>
    <p class="instruction">Click Here For More Info<p>
    </div>
  </div>

  <div class="small-12 columns text-center">
    <h1><%= title %></h1>
    <h3><%= location %></h2>
  </div>

  <div class="small-12 columns xtra-margin">
    <h1 class="header1"> What does it mean? </h1>
    <h4>Spoiler Alert:</h4><p>If you think translating one prop is confusing, try two that are in opposition. Here we go...</p>
    <h4>Prop H: </h4><p><%= youth_lang_h %>.</p>
    <h4>Prop I: </h4><p><%= youth_lang_i %></p>
    <p><%= youth_lang_final %></p>
  </div>

  <div class="small-12 columns">
    <h1 class="header2"> Supporters say</h1>
    <h4>Prop H: </h4><p><%= arg_for_h %></p>
    <h4>Prop I: </h4><p><%= arg_for_i %></p>
  </div>

  <div class="small-12 columns">
    <h1 class="header3"> Opponents say</h1>
    <h4>Prop H: </h4><p><%= arg_against_h %></p>
    <h4>Prop I: </h4><p><%= arg_against_i %></p>
    <p><%= arg_against_final %></p>
  </div>

  <div class="small-12 columns">
    <h1 class="header4"> Contributors include:  </h1>
    <h4>Yes</h4>
    <p>TBD</p>
    <h4>No</h4>
    <p>TBD</p>
  </div>
</div>