<div class="row props">

  <div id="bg" class="prop-47">
  </div>

<div class="small-12 text-center click-measure fourseven">
    <div class="click-arr">
    <i class="fa fa-arrow-circle-up"></i>
    <p class="instruction">Click Here For More Info<p>
    </div>
  </div>

  <div class="small-12 columns text-center">
    <h1><%= title %></h1>
    <h3><%= location %></h2>
  </div>


  <div class="small-12 columns xtra-margin">
    <h1 class="header1"> What does it mean? </h1>
    <p><%= youth_lang %></p>
  </div>

  <div class="small-12 columns">
    <h1 class="header2"> Supporters say</h1>
    <p><%= arg_for %></p>
  </div>

  <div class="small-12 columns">
    <h1 class="header3"> Opponents say</h1>
    <p><%= arg_against %></p>
  </div>

  <div class="small-12 columns">
    <h1 class="header4"> Contributors include:  </h1>
    <h4>Yes</h4>
    <p><%= money_for %></p>
    <h4>No</h4>
    <p><%= money_against %></p>
  </div>

</div>